@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Playfair+Display:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root{
        font-family: 'Montserrat', sans-serif;
        font-family: 'Playfair Display', serif;

        background: #F8FFEC;
        color : #414A3D;
        font-size : 1.125rem;

        --color-primary: 147 173 22;
        --color-secondary: 109 132 15;
        --color-tertiary: 192 223 161;
        --color-white: 192 223 161;
        --color-transparent: 0 0 0 0;
    }

    /* width */
    ::-webkit-scrollbar {
        width: 10px;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 5px;
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}